.container{
  max-width: 1500px;
  margin: 0 auto;
  width: 95%;
}
.grid-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:1.5rem;
}
.uk-card-media-top{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uk-card-media-top img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}